* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  padding: 1rem 3rem;
  background-color: #edeffd;
}
.view1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  // max-height: 88vh;
  height: 100%;
  gap: 1rem;

  aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    height: 100%;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 7px 8px #6666b3;
    overflow: auto;
    #logo {
      font-family: "Orbitron", sans-serif;
      font-optical-sizing: auto;
      padding: 0.8rem 1rem;
      font-size: 1.8rem;
      font-weight: 500;
      color: #6666b3;
    }
    p {
      margin: 0;
      padding: 0.8rem 1.2rem;
      font-size: 1.3rem;
      font-weight: 500;
      span {
        i {
          margin-right: 0.7rem;
        }
      }
    }
    p:hover {
      cursor: pointer;
      background-color: rgba(12, 16, 214, 0.521);
    }

    .filter-panel {
      // display: flex;
      display: none;
      flex-wrap: wrap;

      gap: 1rem;
      background-color: white;
      // background-color: red;
      padding: 1rem;
      padding-top: 0;
      color: black;

      .custom-dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.3rem;

        label {
          font-size: 1.2rem;
          font-weight: 500;
          color: #575757;
        }

        select,
        input[type="date"] {
          background-color: white;
          color: black;
          // border: 1px solid #444;
          padding: 0.5rem 0.75rem;
          border-radius: 6px;
          font-size: 1rem;
          // appearance: none;

          &:focus {
            outline: none;
            border-color: #0078d4;
            box-shadow: 0 0 0 2px rgba(0, 120, 212, 0.3);
          }
        }
      }
    }
  }
  main {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-radius: 10px;
      box-shadow: 1px 5px 5px #6666b3c0;
      padding: 1rem 2rem;
      .profile {
        .name {
          background-color: #5454e4d7;
          padding: 0.4rem 0.8rem;
          border-radius: 10px;
          margin-right: 0.6rem;
          color: white;
        }
        .profileIcon {
          border-radius: 50%;
          border: 1px solid;
          border-color: #5a5adbb4;
          padding: 0.3rem;
        }
      }
    }
    .bottom {
      display: flex;
      width: 100%;
      height: 81vh;
      gap: 1rem;
      position: relative;

      .todo {
        min-width: 32%;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 7px 8px #6666b3;
        // border: 1px solid black;
        .todoTasks,
        .taskInProgress,
        .taskDone {
          padding: 0.5rem 0.5rem;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          gap: 1rem;
          margin: 1rem 0;
          .todoTask {
            border-radius: 10px;
            padding: 0.8rem 0.8rem;
            background-color: rgb(240, 244, 248);
            border-left: 5px solid rgb(255, 174, 0);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.288);

            p {
              color: gray;
              padding-bottom: 0.3rem;
              span {
                font-weight: 600;
                color: black;
              }
            }
            h4 {
              font-size: 1.3rem;
              font-weight: 600;
              text-align: center;
              padding-bottom: 0.5rem;
            }
          }
        }

        .taskInProgress {
          .todoTask {
            border-left: 5px solid rgb(0, 217, 255);
          }
        }
        .taskDone {
          .todoTask {
            border-left: 5px solid rgb(5, 207, 22);
          }
        }

        h2 {
          font-weight: 500;
          font-size: 1.5rem;
          padding: 0.8rem 1.8rem;
        }
        .addTaskBtn {
          padding: 0.8rem 1rem;
          margin: 0.8rem 1rem;
          margin-top: auto;
          font-size: 1rem;
          font-weight: 500;
          border-radius: 10px;
          color: white;
          border: none;
          background-color: rgba(12, 16, 214, 0.721);
          span {
            padding: 0.8rem;
          }
        }
        .editBtn {
          color: rgb(34, 184, 21);
          border: none;
          font-size: 1.5rem;
          padding: 0.5rem;
          margin-top: 0.5rem;
          border-radius: 50%;
        }
        .editBtn:hover {
          border-radius: 50%;
          background-color: #d8dcfc;
        }
        button:hover {
          cursor: pointer;
          background-color: rgba(12, 15, 214, 0.829);
          scale: 1.02;
          transition: all 0.3s ease-in-out;
        }
        button:active {
          scale: 0.9;
        }
      }
    }

    .addTaskPopup {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.4);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(3px);
      width: 100%;
      height: 100%;
      display: none;
      top: 0;
      justify-content: center;
      form {
        width: 55%;
        height: 100%;
        overflow: auto;
        padding: 2rem 3rem;
        padding-bottom: 0;
        box-shadow: 6px 20px 20px #6666b3c0;
        background-color: white;
        border-radius: 5px;
        position: relative;
        p {
          padding: 0.5rem 0;
          padding-top: 1rem;
          font-size: 1.1rem;
          font-weight: 400;
        }
        .close {
          padding: 0.8rem;
          position: absolute;
          right: 5%;
          top: 2%;
          i {
            font-weight: 600;
          }
        }
        .close:hover {
          background-color: #e2e3e7;
          border-radius: 50%;
        }
        .close:active {
          scale: 0.9;
        }
        input,
        textarea,
        select {
          width: 100%;
          padding: 0.5rem 1rem;
          font-size: 1rem;
          outline: none;
        }
        input:focus,
        select:focus,
        textarea:focus {
          border-color: #6666b3;
        }
        .btns {
          display: flex;
          justify-content: center;
          gap: 1rem;
          padding: 2rem 0;
          .addBtn {
            background-color: #6666b3;
          }
          .cancel {
            background-color: rgb(211, 56, 56);
          }
        }
        button {
          padding: 0.7rem 2rem;
          color: white;
          border: none;
          border-radius: 5px;
          opacity: 0.8;
          cursor: pointer;
        }
        button:hover {
          opacity: 1;
        }
        button:active {
          scale: 0.9;
        }
      }
    }
  }
}
